{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}

<h3>strings functions</h3>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><code>POST</code> /format</h3>
	</div>
	<div class="panel-body">
	POST a JSON payload like <code>{"string": "this is a list of {}, {}, and {}", "formatter", ["a", "b", "c"]}</code> using <a href="https://pyformat.info/">Python 3-style .format() semantics</a> and you'll receive a response like <code>{"result": "this is a list of a, b, and c"}</code>, or an HTTP 500 on error.
	</div>
</div>

{% endblock %}