{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block content %}

<h3>utilities functions</h3>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><code>GET or POST</code> /is/alive</h3>
	</div>
	<div class="panel-body">
	Returns <code>{"result": "yes"}</code> if service is alive, otherwise returns <code>{"result": "no"}</code>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><code>GET or POST</code> /return/true?mode=strict</h3>
	</div>
	<div class="panel-body">
	Returns <code>{"result": True}</code> in strict mode, or otherwise <code>{"result": False}</code> for backwards compatibility.
	</div>
</div>

{% endblock %}